---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span style="background-color: #198754; color: white;" class="inline-block text-xs font-bold px-2 py-0.5 rounded not-italic">
  {text}
</span>
